<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>

    <conversionRule conversionWord="highlightCustom" converterClass="com.arms.api.util.log_converter.HighlightingCompositeConverterCustom" />

    <property name="LOG_PATTERN"
              value="%highlightCustom([%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %([%thread]) %(%-5level) %([%C.%M:%(%L)]) - %(%msg%n))"/>

    <include resource="logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>


</configuration>
